<div class="container">
  <div class="row">
    <div class="col-10">
      <h4 class="text-center", style="color: #48120E">
        <i class="fa-solid fa-user" style="color: #8d6e62;"></i>
         コメント一覧
        <i class="fa-solid fa-user" style="color: #8d6e62;"></i>
      </h4>

      <div class = "mt-4 pt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>コメント日時</th>
              <th>ユーザー名</th>
              <th>コメント内容</th>
              <td>投稿ユーザー</td>
            </tr>
          </thead>
          <tbody>
            <% @comments.each do |comment| %>
              <tr>
                <td>
                  <%= link_to admin_post_path(id: comment.post_id) do %>
                    <%= comment.created_at.strftime("%Y/%m/%d %H:%M") %>
                  <% end %>
                </td>
                <td>
                  <%= link_to admin_user_path(id: comment.user_id) do %>
                    <%= comment.user.user_name %>
                  <% end %>
                </td>
                <td>
                  <%= comment.body.truncate(25, omission: '...') %>
                   <!--一覧画面のコメントの文字数を25文字まで表示-->
                </td>
                <td>
                  <%= comment.post.user.user_name%>
                </td>
                <td>
                  <%= link_to "削除", admin_post_comment_path(comment.post_id, comment.id), method: :delete, class: "btn btn-sm btn-danger rounded-pill" %>
                                                            <!--コメント内の投稿idと(,)コメントidを取得する-->
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div>
      <%= paginate @comments %>
      </div>
      
    </div>
  </div>
</div>
