<div class="container">
  <div class="row">

      <h4 class="text-center", style="color: #48120E">
        <i class="fa-regular fa-comment" style="color: #000000;"></i>
         コメント一覧
        <i class="fa-regular fa-comment" style="color: #000000;"></i>
       </h4>

    <div class = "mt-4 pt-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>投稿日時</th>
            <th>ユーザー名</th>
            <th>コメント内容</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td>
                <%= link_to admin_post_comments_path(comment.id) do %>
                  <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_post_comments(comment.id) do %>
                  <%= post.user.user_name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

      <%= paginate @comments %>
    </div>
  </div>
</div>
