<div class="row">
  <% posts.each do |post| %>
    <div class="col-md-4 mb-3">
      <div class="relative">
        <% if post.post_image.attached? %>
          <%= image_tag post.get_post_image(300, 300), class: "img-fluid post-card-img" %>
        <% end %>
        <% if post.active_status == false %>
          <%= image_tag "business_icon_ca_124.png",size: "200x200", class: "absolute" %>
        <% end %>
      </div>
      <div class="row mt-2">
        <div class="col-8">
          <h5 class="card-title">
            <%= link_to post.dog_name, post_path(post) %>
          </h5>
          <p class="m-0">
            <%= link_to post.day.strftime("%Y年%m月%d日"), post_path(post) %>
          </p>
          <p class="m-0">
            <%= link_to post.prefecture.name, post_path(post) %>
          </p>
        </div>
        <div class="col-4">
          <!--# ↓投稿したユーザー(==)がログインしている時（下記条件がそろった時）に表示される↓-->
          <% if post.user == current_user %>
          <!--true/依頼済み   false/募集中-->
            <% if post.active_status == true %>
              <%= link_to " 依頼済にする ", switch_on_path(post.id), method: :post, class:"btn btn-sm btn-danger" %>
            <% else%>
              <%= link_to " 募集中に戻す ", switch_off_path(post.id),method: :post, class:"btn btn-sm btn-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>