<div class="container">
  <h3><i class="fa-solid fa-paw"></i>お散歩一覧<i class="fa-solid fa-paw"></i></h3>

  <ul>
    <% @posts.each do |post| %>
    <div class = "col-2 ml-lg-6 pt-5 mt-2">
    <% if post.post_image.attached? %>
      <%= image_tag post.post_image, size: "900×50", class: "img-fluid" %>
    <% end %>
    </div>
      <div class="col-3">
        <%= link_to post.dog_name, post_path(post) %>
        <%= link_to post.day, post_path(post) %>
        <%= link_to post.prefecture.name, post_path(post) %>
      <!--都道府県名を表示-->
      </div>
    <% end %>
    <%= paginate @posts %>
  </ul>
</div>


