<div class="container">
  <h2>New Post</h2>
  <%= form_with model: @post, url: posts_path, method: :post do |f| %>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :dog_name, "犬の名前" %>
          <%= f.text_field :dog_name, autofocus: true, autocomplete: "dog_name", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :dog_sex, "犬の性別" %>
            <div>
              <%= f.radio_button :dog_sex, true %> ♂
              <%= f.radio_button :dog_sex, false %> ♀
            </div>
        </div>
      </div>  
    </div>
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :dog_type, "犬種" %>
          <%= f.text_field :dog_type, autocomplete: "dog_sex", class: "form-control" %>
        </div>
      </div>
    

    <div class="row">
      <div class="col-md-4">
        <%= f.label :prefecture_id, "都道府県" %>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {}, include_blank: "選択して下さい", class: "form-control" %>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :city, "市・区" %>
          <%= f.text_field :city, autocomplete: "city", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
          <%= f.label :day, "日付" %>
          <%= f.date_field :day, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :post_image, "愛犬写真" %>
      <div>
        <%= f.file_field :post_image %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :post_body, "条件・紹介文" %>
      <%= f.text_area :post_body, class:"form-control post_body" %>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <%= f.submit "投　稿", class: "btn btn-primary rounded-pill" %>
        </div>
      </div>
    </div>
  <% end %>
</div>