<div class="container">
  <h4>投稿詳細画面</h4>

  <div class = "row">
    <div class = "col-4">
      <%= image_tag @post.get_post_image(600, 600), class: "img-fluid post-card-img" %>
    </div>

    <div class = "col-md-8 mb-2" >
      <div class = "row">
        <div class = col-md-3 , style="color: #48120E">
          愛犬の名前
        </div>
        <div class = "col-md-8">
          <h5><%= @post.dog_name %></h5>
        </div>
      </div>

      <div class = "row mb-2">
        <div class = col-md-3>
          犬種
        </div>
        <div class = "col-md-9">
          <h5><%= @post.dog_type %></h5>
        </div>
      </div>

      <div class = "row mb-2">
        <div class = col-md-3>
          お散歩希望日
        </div>
        <div class = "col-md-9">
          <h5><%= @post.day %></h5>
        </div>
      </div>

      <div class = "row mb-2">
        <div class = "col-md-3">
          都道府県
        </div>
        <div class = "col-md-9">
          <h5><%= @post.prefecture.name %></h5>
        </div>
      </div>

      <div class = "row mb-2">
        <div class = col-md-3>
          市町村
        </div>
        <div class = "col-md-9">
          <h5><%= @post.city %></h5>
        </div>
      </div>

      <div class = "row">
        <div class = col-md-3>
          紹介文・条件
        </div>
        <div class = "col-md-9">
          <h5><%= simple_format(@post.post_body, class: "m-0") %></h5>
        </div>
      </div>
　　</div>

      <div>
        <%= link_to " 削 除 ", admin_post_path, method: :delete, class:"btn btn-sm btn-danger rounded-pill" %>

      </div>

   </div>

  <div class = "row">
    <% @post.comments.each do |comment| %>
        <%= comment.user.user_name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
                                                       <!--commentテーブルにあるカラム-->


    <%= link_to "削除", admin_post_comment_path(comment.post_id, comment.id), method: :delete, class: "btn btn-sm btn-danger rounded-pill" %>
                                                          <!--コメント内の投稿idと(,)コメントidを取得する-->
    <% end %>
  </div>


</div>