<div class="container">
  <div class="row">
    
      <h4 class="text-center", style="color: #48120E">
        <i class="fa-solid fa-cookie-bite" style="color: #b37039;"></i>
          ユーザー一覧
        <i class="fa-solid fa-cookie-bite" style="color: #b37039;"></i>
       </h4>

    <div class = "mt-4 pt-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>投稿日時</th>
            <th>ユーザー名</th>
            <th>会員ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to admin_users_path(user.id) do %>
                　<%= user.created_at.strftime("%Y/%m/%d %H:%M") %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_users_path(user.id) do %>
                　<%= user.user_name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <%= paginate @users %>
    </div>
  </div>
</div>