<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="text-center", style="color: #48120E">
        <i class="fa-solid fa-house" style="color: #6e4e4e;"></i>
          ユーザー一覧
        <i class="fa-solid fa-house" style="color: #6e4e4e;"></i>
       </h4>

      <div class="pt-5">
        <table class="table", style="color: #4d382e;">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>ユーザー名</th>
              <th>メールアドレス</th>
              <th>会員ステータス</th>
            </tr>
          </thead>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= user.id %>
              </td>
              <td>
                <%= link_to admin_user_path(user.id) do %>
                  <%= user.user_name %>
                <% end %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <% if user.is_active == true %>
                  <p class = "text-success">有効</p>
                <% else%>
                  <p class = "text-secondary">依頼済</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="all__paginate">
      <%= paginate @users %>
    </div>
  </div>
</div>