<div class="container">

  <div class = "row d-flex justify-content-center">
    <font size="6"><i class="fa-regular fa-star"></i> 会員詳細 <i class="fa-regular fa-star"></i></font>
  </div>

  <div class="row">
    <div class="col text-center p-4 h-100 w-100">
      <table class="table table-bordered", style="color:#48120E;">
        <tbody>

          <tr>
            <td>ユーザー名</td>
            <td><%= @user.user_name %></td>
          </tr>
          <tr>
            <td>名前</td>
            <td><%= @user.real_name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @user.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @user.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @user.telephone_number %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= @user.introduction %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td><%= @user.is_active %></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class = "row d-flex justify-content-center">
    <span class=""><%= link_to " 編 集 す る ", edit_admin_user_path, class:"btn font-bold rounded-pill", style: "background-color: #ffe9a9; color: #1A120B;" %></span>
  </div>

  <div class="col-md-9">
      <h3><i class="fa-solid fa-paw"></i>投稿一覧<i class="fa-solid fa-paw"></i></h3>

       <%= render 'public/posts/index', posts: @posts %>

  
    </div>

</div>