<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h3>ログイン <i class="fa-solid fa-right-to-bracket"></i></h3>

      <%= form_with model: @user, url: user_session_path do |f| %>

        <div class="form-group">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="form-group">
        <%= f.submit "ログイン", class: "btn btn-primary rounded-pill" %>
        </div>
      <% end %>

    <div class="form-row">
      <div class="col-6 form-group mt-5">
        <h4>既に会員済みの方</h4>
      </div>
    </div>
      <div>
        <%= link_to " ここをクリック ", new_user_registration_path, class: "btn btn-primary rounded-pill" %>
      </div>

    <div class="form-row">
      <div class="col-6 form-group mt-5">
        <h4>ゲストログイン</h4>
      </div>
    </div>
      <div>
        <%= link_to " ここをクリック ", users_guest_sign_in_path, method: :post, class: "btn btn-primary rounded-pill" %>
      </div>


    </div>
  </div>
</div>
