<!DOCTYPE html>

<html>
  <head>
    <title>Walky Time!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/0d9ca2e584.js" crossorigin="anonymous"></script>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= render 'layouts/header' %>
    </header>
    <main class="mt-5">
      <div>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </main>
    <footer class="footer">
      <div id="footer" class="fixed-bottom d-flex align-items-center justify-content-center", style ="background-color: #ffffff;">
        <i class="fa-solid fa-paw" style="color: #8d6e62;"></i><%= image_tag 'footer.jpg', size: '350x40' %><i class="fa-solid fa-paw" style="color: #8d6e62;"></i>
      </div> 
    </footer>
  </body>
</html>

